/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Noto Sans', 'Roboto', Helvetica, sans-serif;

// Size
$mainFontColor           : #000000 !default;
$mainFontSize            : 14px !default;
$mainFontWeight          : 400 !default;
$mainLineHeight          : 1.4 !default;

//$desktopWidth            : 1280px !default;
$smDesktopWidth          : 1024px !default;
$tableWidth              : 768px !default;
$smTableWidth            : 640px !default;
$phoneWidth              : 480px !default;
$smPhoneWidth            : 320px !default;

// Main color
$black                   : #000000 !default;
$vantablack              : #010101 !default;
$dover-grey              : #848484 !default;
$flagstone               : #acacac !default;
$white                   : #ffffff !default;

$default-color           : #ffffff !default;
$primary-color           : #444ce0 !default;
$success-color           : #26de81 !default;
$danger-color            : #fc5c65 !default;
$warning-color           : #fed330 !default;
$light-color             : #999999 !default;
$purple-color            : #8854d0 !default;

// Neutral Color
$neutral-primary         : #303133 !default;
$neutral-regular         : #606266 !default;
$neutral-secondary       : #909399 !default;
$neutral-placeholder     : #C0C4CC !default;

// Border Color
$border-base             : #DCDFE6 !default;
$border-light            : #E4E7ED !default;
$border-lighter          : #EBEEF5 !default;
$border-lightex          : #F2F6FC !default;
